<h1>Listing orders</h1>

<table class="SimpleTable">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <td><%= order.name %></td>
        <td><%= order.address %></td>
        <td><%= order.email %></td>
        <td><%= order.pay_type %></td>
        <td class='actions'>
        <%= link_to 'Show', order %>
          <%= link_to 'Edit', edit_order_path(order) %>
          <%= link_to 'Destroy', order, method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<p><%= paginate @orders %></p>

<%= link_to 'New Order', new_order_path %>
