<%= render_notice %>

<h2>Your Catalog</h2>

<form class="simple_shop_form" method="get">
  <fieldset>
    <legend>Filter</legend>
    <div class="filter">
      <%= label_tag("Categories:") %>
      <% Category.order(:name).each do |category| %>
          <%= check_box_for_filter category.id, :class => "filter", :onchange => 'this.form.submit()' %>
          <span class='selectable'><%= category.name %></span>
      <% end %>
    </div>

    <div class="filter">
      <%= label_tag("Page size:") %>
      <%= select_tag :page_size, options_for_select(page_items_count, @page_size), :onchange => 'this.form.submit()' %>
    </div>

    <div class="filter">
      <%= label_tag("Sort price:") %>
      <%= select_tag :price_order, options_for_select(sort_price, @price_order), :onchange => 'this.form.submit()' %>
    </div>

    <div class="filter">
      <%= label_tag(:query, "Search for:") %>
      <%= text_field_tag(:query, @query) %>
      <input type="submit" value="Search">
    </div>
  </fieldset>
</form>

<% cache ['store', Product.latest, params[:filter].to_s] do %>
    <% @products.each do |product| %>
        <% cache ['entry', product] do %>
            <div class="entry">
              <%= image_tag(product.image_url) %>
              <h3><%= product.title %></h3>
              <%= sanitize(product.description) %>
              <div class="price_line">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
              </div>
            </div>
        <% end %>
    <% end unless @products.nil? %>
<% end %>

<p><%= paginate @products unless @products.nil? %></p>