<%= render_notice %>

<h1>Your Pragmatic Catalog</h1>

<form class="filter_form" method="get">
  <% Category.order(:name).each do |category| %>
      <%= check_box_for_filter category.id, :class => "filter", :onchange => 'this.form.submit()' %>
      <span class='selectable'><%= category.name %></span>
  <% end %>
  <br>

  <%= label_tag(:page_size, "page size:") %>
  <%= select_tag :page_size, options_for_select(page_items_count, @page_size), :onchange => 'this.form.submit()' %>
  <br>

  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query, @query) %>
  <input type="submit" value="Search">
</form>

<% cache ['store', Product.latest, params[:filter].to_s] do %>
    <% @products.each do |product| %>
        <% cache ['entry', product] do %>
            <div class="entry">
              <%= image_tag(product.image_url) %>
              <h3><%= product.title %></h3>
              <%= sanitize(product.description) %>
              <div class="price_line">
                <span class="price"><%= number_to_currency(product.price) %></span>
                <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
              </div>
            </div>
        <% end %>
    <% end unless @products.nil? %>
<% end %>

<p><%= paginate @products unless @products.nil? %></p>